span.border-right {
    border-right: 2px solid;
    padding-right: 12px;
}

span.border-left-space {
    padding-left: 12px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted rgb(122, 122, 122);
    opacity: 1;
    border: 1px solid;
    border-radius: 14px;
    width: 20px;
    text-align: center;
    margin-left: 5px;
    color: royalblue;
    font-size: 14px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: rgb(126, 126, 126);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
    top: -15px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(126, 126, 126) transparent transparent;
}

span.totalNumberOfReviews {
    color: #9e9e9e;
    font-size: 17px;
    margin-left: 15px;
    font-weight: 500;
}

.card {
    margin-bottom: 10px;
}